In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('orders.csv')

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [2]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [3]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [4]:
 # to handle 'Not Available' and 'unknown' ->
df = pd.read_csv('orders.csv', na_values = ['Not Available', 'unknown'] )

In [5]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [ ]:
df['Ship Mode'].fillna('Same Day', inplace = True)

In [9]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [10]:
df['Ship Mode'].str.lower()

0       same day
1       same day
2       same day
3       same day
4       same day
          ...
9989    same day
9990    same day
9991    same day
9992    same day
9993    same day
Name: Ship Mode, Length: 9994, dtype: object

In [20]:
df.columns.str.lower()

Index(['order id', 'order date', 'ship mode', 'segment', 'country', 'city',
       'state', 'postal code', 'region', 'category', 'sub category',
       'product id', 'cost price', 'list price', 'quantity',
       'discount percent', 'discount', 'sale', 'profit'],
      dtype='object')

In [14]:
df['Discount'] = df['List Price'] * df['Discount Percent']*0.01

In [17]:
df['Sale'] = df['List Price'] - df['Discount']

In [19]:
df['profit'] = df['Sale']- df['cost price']

In [26]:
df.dtypes

Order Id                     int64
Order Date          datetime64[ns]
Ship Mode                   object
Segment                     object
Country                     object
City                        object
State                       object
Postal Code                  int64
Region                      object
Category                    object
Sub Category                object
Product Id                  object
cost price                   int64
List Price                   int64
Quantity                     int64
Discount Percent             int64
Discount                   float64
Sale                       float64
profit                     float64
dtype: object

In [25]:
# convert  the dataType of Order Date from obj to dateTime
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%Y-%m-%d')

In [28]:
df.drop(columns=['Discount', 'Sale', 'profit'], inplace=True)

In [16]:
# install SQLAlchemy
# install mysql-connector-python
from sqlalchemy import create_engine
import mysql.connector
# Replace these with your MySQL credentials
username = 'root'
password = 'root'
host = 'localhost'
database = 'test_db'

# Create a connection to the database
db_connection_str = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
db_connection = create_engine(db_connection_str)

In [17]:
db_connection

Engine(mysql+mysqlconnector://root:***@localhost/test_db)

In [18]:
# Write the DataFrame to a SQL table named 'df_orders'
df.to_sql(name='df_orders', con=db_connection, if_exists='replace', index=False)

9994

In [19]:
# Read the table back into a DataFrame
df_from_sql = pd.read_sql('df_orders', con=db_connection)
print(df_from_sql)

      Order Id  Order Date       Ship Mode    Segment        Country  \
0            1  2023-03-01    Second Class   Consumer  United States
1            2  2023-08-15    Second Class   Consumer  United States
2            3  2023-01-10    Second Class  Corporate  United States
3            4  2022-06-18  Standard Class   Consumer  United States
4            5  2022-07-13  Standard Class   Consumer  United States
...        ...         ...             ...        ...            ...
9989      9990  2023-02-18    Second Class   Consumer  United States
9990      9991  2023-03-17  Standard Class   Consumer  United States
9991      9992  2022-08-07  Standard Class   Consumer  United States
9992      9993  2022-11-19  Standard Class   Consumer  United States
9993      9994  2022-07-17    Second Class   Consumer  United States

                 City       State  Postal Code Region         Category  \
0           Henderson    Kentucky        42420  South        Furniture
1           Henderson    Kentucky        42420  South        Furniture
2         Los Angeles  California        90036   West  Office Supplies
3     Fort Lauderdale     Florida        33311  South        Furniture
4     Fort Lauderdale     Florida        33311  South  Office Supplies
...               ...         ...          ...    ...              ...
9989            Miami     Florida        33180  South        Furniture
9990       Costa Mesa  California        92627   West        Furniture
9991       Costa Mesa  California        92627   West       Technology
9992       Costa Mesa  California        92627   West  Office Supplies
9993      Westminster  California        92683   West  Office Supplies

     Sub Category       Product Id  cost price  List Price  Quantity  \
0       Bookcases  FUR-BO-10001798         240         260         2
1          Chairs  FUR-CH-10000454         600         730         3
2          Labels  OFF-LA-10000240          10          10         2
3          Tables  FUR-TA-10000577         780         960         5
4         Storage  OFF-ST-10000760          20          20         2
...           ...              ...         ...         ...       ...
9989  Furnishings  FUR-FU-10001889          30          30         3
9990  Furnishings  FUR-FU-10000747          70          90         2
9991       Phones  TEC-PH-10003645         220         260         2
9992        Paper  OFF-PA-10004041          30          30         4
9993   Appliances  OFF-AP-10002684         210         240         2

      Discount Percent
0                    2
1                    3
2                    5
3                    2
4                    5
...                ...
9989                 4
9990                 4
9991                 2
9992                 3
9993                 3

[9994 rows x 16 columns]

In [20]:
# Close the database connection
db_connection.dispose()

In [ ]:
# creat  empty table with same column names of df in mysql , then instead of replace use append . in this we gave data types like varchar(20), decimal instead of varchar(max), bigint so it takes less space.

In [1]:
from sqlalchemy import create_engine
import mysql.connector
# Replace these with your MySQL credentials
username = 'root'
password = 'root'
host = 'localhost'
database = 'exam'

# Create a connection to the database
db_connection_str = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
db_connection = create_engine(db_connection_str)

In [2]:
db_connection

Engine(mysql+mysqlconnector://root:***@localhost/exam)

In [ ]:
# Write the DataFrame to a SQL table named 'df_orders'
df.to_sql(name='df_orders', con= db_connection , if_exists= 'append', index= False)

In [ ]:
# Read the table back into a DataFrame
df_from_sql  = pd.read_sql(name = 'df_orders', con= db_connection)
print(df_from_sql)